#Type	Path				Mode	User	Group	Age	Argument
D		%h/.apptainer		0700	{{ .chezmoi.uid }}	{{ .chezmoi.gid }}	1d	-
D		%h/.python_history	0700	{{ .chezmoi.uid }}	{{ .chezmoi.gid }}	1d	-
D		%h/.nv				0700	{{ .chezmoi.uid }}	{{ .chezmoi.gid }}	1d	-
D		%h/.cupy			0700	{{ .chezmoi.uid }}	{{ .chezmoi.gid }}	1d	-
D		%h/.gitconfig		0700	{{ .chezmoi.uid }}	{{ .chezmoi.gid }}	1d	-
D		%h/.repo_.gitconfig.json	0700	{{ .chezmoi.uid }}	{{ .chezmoi.gid }}	1d	-
