{{- $isHeadless := promptBoolOnce . "isHeadless" "Is headless machine" -}}
{{- $isContainer := promptBoolOnce . "isContainer" "Inside a container" -}}
{{- $isNvidia := promptBoolOnce . "isNvidia" "Uses Nvidia" -}}
{{- $isBtrfs := promptBoolOnce . "isBtrfs" "Uses Btrfs for home" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $chassisType := "desktop" }}
{{- $battery := "" }}


{{- if (eq .chezmoi.os "darwin") }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if and (eq .chezmoi.os "linux") (lookPath "hostnamectl") }}
{{-   $chassisType = (or (output "hostnamectl" "--json=short" | mustFromJson).Chassis "desktop" ) }}
{{- else if (eq .chezmoi.os "windows") }}
{{-   $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { echo laptop } else { echo desktop }") }}
{{- end -}}

{{- if eq $chassisType "laptop" }}
{{- $battery = promptStringOnce . "battery" "Battery Path" }}
{{- end }}

[diff]
	command = "delta"
	args = ["-n", "-s", "--pager", "never", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[data]
	isHeadless = {{ $isHeadless }}
	isContainer = {{ $isContainer }}
	isDesktop = {{ eq $chassisType "desktop" }}
	isNvidia = {{ $isNvidia }}
	isBtrfs = {{ $isBtrfs }}

	email = {{ $email | quote }}
	nproc = {{ output "nproc" }}
	chassisType = {{ $chassisType | quote }}

	{{ if eq .chezmoi.osRelease.id "debian" -}}
	icon = ""
	{{- else if eq .chezmoi.osRelease.id "arch" }}
	icon = ""
	{{- else }}
	icon = ""
	{{- end }}

	battery = {{ $battery | quote }}

	# Cursor
	{{- if eq .chezmoi.hostname "ThinkBookArch" }}
	cursor = "phinger-cursors-dark"
	{{- else }}
	cursor = "bibata-modern-classic"
	{{- end }}

	# Wallpaper
	{{- if eq .chezmoi.hostname "ThinkBookArch" }}
	wall = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-rddgwm.jpg"
	lock = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-3lyrvy.png"
	{{- else if eq .chezmoi.hostname "B650Arch" }}
	wall = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/Zelda_BotW_Master_Cycle_Zero_[2560X1440].jpg"
	lock = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-yxdrex.png"
	{{- else if eq .chezmoi.hostname "ant" }}
	wall = "/home/{{- .chezmoi.username -}}/Pictures/Wall/wallhaven-6dgz2l.jpg"
	lock = "/home/{{- .chezmoi.username -}}/Pictures/Wall/wallhaven-3lyrvy.png"
	{{- else }}
	wall = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-rddgwm.jpg"
	lock = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-3lyrvy.png"
	{{- end }}

# vim: ft=toml
