{{- $isHeadless := promptBoolOnce . "isHeadless" "Is headless machine" -}}
{{- $isContainer := promptBoolOnce . "isContainer" "Inside a container" -}}
{{- $isNvidia := promptBoolOnce . "isNvidia" "Uses Nvidia" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $battery := "" }}
{{- $chassisType := "desktop" }}

{{- if isExecutable "hostnamectl" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{-   if eq .chassisType "laptop" }}
{{-     $battery := promptStringOnce . "battery" "Battery entry" -}}
{{-   end }}
{{- end }}

[diff]
	command = "delta"
	args = ["-n", "-s", "--pager", "never", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
	{{- if eq .chezmoi.osRelease.id "debian" }}
	pager = "batcat"
	{{- else }}
	pager = "bat"
	{{- end }}

[data]
	isHeadless = {{ $isHeadless }}
	isContainer = {{ $isContainer }}
	isDesktop = {{ eq $chassisType "desktop" }}
	isNvidia = {{ $isNvidia }}

	email = {{ $email | quote }}
	nproc = {{ output "nproc" }}

	{{ if eq .chezmoi.osRelease.id "debian" -}}
	icon = ""
	{{- else if eq .chezmoi.osRelease.id "arch" }}
	icon = ""
	{{- else }}
	icon = ""
	{{- end }}

	battery = {{ $battery | quote }}

	{{- if eq .chezmoi.hostname "ThinkBookArch" }}
	wall = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-rddgwm.jpg"
	lock = "/home/{{- .chezmoi.username -}}/Pictures/Wallpapers/wallhaven-3lyrvy.png"
	{{- end }}
	{{- if eq .chezmoi.hostname "ant" }}
	wall = "/home/{{- .chezmoi.username -}}/Pictures/Wall/wallhaven-6dgz2l.jpg"
	lock = "/home/{{- .chezmoi.username -}}/Pictures/Wall/wallhaven-3lyrvy.png"
	{{- end }}
