$mainMod = SUPER

# Exec
bind = $mainMod,	return, exec,	kitty -1
bind = $mainMod SHIFT,	return, exec,	kitty -1 -d {{ .chezmoi.homeDir }} yazi
bind = $mainMod,	B,	exec,	firefox
bind = CTRL SHIFT,	P,	exec,	firefox --private-window
bind = $mainMod,	P,	exec,	pkill fuzzel || fuzzel
bind = $mainMod,	V,	exec,	cliphist list | fuzzel --dmenu --font="MonaspaceArgonVar:size=10" --no-sort --hide-prompt --width=80 --tabs=2 | cliphist decode | wl-copy
bind = $mainMod SHIFT,	C,	exec,	_color=$(hyprpicker --format=hex --autocopy) && echo $_color | xargs -I_ notify-send -t 2500 "Copied _ to clipboard"
bind = ,		Print,	exec,	hyprshot --mode output --freeze --raw | satty --filename - --output-filename "{{ .chezmoi.homeDir }}/Pictures/Screenshots/%Y-%m-%d_%H%M%S.png"
bind = $mainMod,	Print,	exec,	hyprshot --mode window --freeze --raw | satty --filename - --output-filename "{{ .chezmoi.homeDir }}/Pictures/Screenshots/%Y-%m-%d_%H%M%S.png"
bind = $mainMod SHIFT,	S,	exec,	hyprshot --mode region --freeze --raw | satty --filename - --output-filename "{{ .chezmoi.homeDir }}/Pictures/Screenshots/%Y-%m-%d_%H%M%S.png"
bind = $mainMode SHIFT, X,	exec,	wleave --close-on-lost-focus --no-version-info

# Media keys
bindl	= , XF86AudioMute,	    exec,   pactl set-sink-mute @DEFAULT_SINK@ toggle
bindel	= , XF86AudioRaiseVolume,   exec,   pactl set-sink-volume @DEFAULT_SINK@ +5%
bindel	= , XF86AudioLowerVolume,   exec,   pactl set-sink-volume @DEFAULT_SINK@ -5%
bindel	= , XF86MonBrightnessUp,    exec,   brightnessctl set +5%
bindel	= , XF86MonBrightnessDown,  exec,   brightnessctl set -5%

# Basic
bind = $mainMod,	Q,	    killactive
bind = $mainMod,	Tab,	    togglefloating
bind = $mainMod SHIFT,	P,	    pin
bind = $mainMod,	F,	    fullscreen, 1
bind = $mainMod SHIFT,	F,	    fullscreen, 0
bind = $mainMod,	G,	    togglegroup
bind = $mainMod,	semicolon,  focuscurrentorlast

# Focus
bind = $mainMod,    h,	movefocus,  l
bind = $mainMod,    j,	movefocus,  d
bind = $mainMod,    k,	movefocus,  u
bind = $mainMod,    l,	movefocus,  r

# Group active
bind = $mainMod CTRL,	comma,	changegroupactive,  b
bind = $mainMod CTRL,	period,	changegroupactive,  f

# Layout
bind = $mainMod,    slash,  layoutmsg,	togglesplit

bind = $mainMod CTRL,  h,  swapwindow, l
bind = $mainMod CTRL,  j,  swapwindow, d
bind = $mainMod CTRL,  k,  swapwindow, u
bind = $mainMod CTRL,  l,  swapwindow, r

binde = $mainMod SHIFT, h,  resizeactive, -10  0
binde = $mainMod SHIFT, j,  resizeactive,  0   10
binde = $mainMod SHIFT, k,  resizeactive,  0  -10
binde = $mainMod SHIFT, l,  resizeactive,  10  0

# Switch workspace
bind = $mainMod,    1,	workspace, 1
bind = $mainMod,    2,	workspace, 2
bind = $mainMod,    3,	workspace, 3
bind = $mainMod,    4,	workspace, 4
bind = $mainMod,    5,	workspace, 5
bind = $mainMod,    6,	workspace, 6
bind = $mainMod,    7,	workspace, 7
bind = $mainMod,    8,	workspace, 8
bind = $mainMod,    9,	workspace, 9

# Move window to workspace
bind = $mainMod SHIFT,	  1,  movetoworkspacesilent, 1
bind = $mainMod SHIFT,	  2,  movetoworkspacesilent, 2
bind = $mainMod SHIFT,	  3,  movetoworkspacesilent, 3
bind = $mainMod SHIFT,	  4,  movetoworkspacesilent, 4
bind = $mainMod SHIFT,	  5,  movetoworkspacesilent, 5
bind = $mainMod SHIFT,	  6,  movetoworkspacesilent, 6
bind = $mainMod SHIFT,	  7,  movetoworkspacesilent, 7
bind = $mainMod SHIFT,	  8,  movetoworkspacesilent, 8
bind = $mainMod SHIFT,	  9,  movetoworkspacesilent, 9

# Move/resize using mouse
bindm = $mainMod,   mouse:272,	movewindow
bindm = $mainMod,   mouse:273,	resizewindow

# vim: ft=hyprlang
