# Per-host monitor config
source = {{ .chezmoi.homeDir }}/.config/hypr/monitor.conf

# Startup programs
source = {{ .chezmoi.homeDir }}/.config/hypr/startup.conf

# Input config
source = {{ .chezmoi.homeDir }}/.config/hypr/input.conf

# Keybinds
source = {{ .chezmoi.homeDir }}/.config/hypr/bindings.conf

# Rules
source = {{ .chezmoi.homeDir }}/.config/hypr/rules.conf

# Options
source = {{ .chezmoi.homeDir }}/.config/hypr/options.conf

# Style
source = {{ .chezmoi.homeDir }}/.config/hypr/style.conf

# vim: ft=hyprlang
