input {
    kb_layout = pl
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =

    follow_mouse = 1
    accel_profile = flat
    {{- if eq .chezmoi.hostname "ant" }}
    sensitivity = 1.05
    {{- else if eq .chezmoi.hostname "ThinkPadArch" }}
    sensitivity = 1.0
    {{- else }}
    sensitivity = 0.6
    {{- end }}

    repeat_rate = 35
    repeat_delay = 300

    touchpad {
        natural_scroll = true
    }
}
{{- if eq .chezmoi.hostname "ant" }}
device {
    name = splitkb.com-aurora-lily58-rev1-mouse
    accel_profile = adaptive
    natural_scroll = true
}
{{- end }}

# vim: ft=hyprlang

