# https://wiki.hyprland.org/Configuring/Window-Rules/
windowrule = float on, match:class ^(galculator)$
windowrule = float on, match:class ^(org.kde.polkit-kde-authentication-agent-1)$
windowrule = float on, match:class ^(firefox)$, match:title ^(Firefox)$
windowrule = float on, match:class ^(blueman-sendto)$
windowrule = float on, match:title ^(Steam Settings)$
windowrule = float on, match:class ^(steam)$, match:title ^(Friends List)$
windowrule = float on, match:class ^(kicad)$, match:title ^(Assign Footprints)$
windowrule = float on, match:class ^(kicad)$, match:title ^(Footprint:.*)$
windowrule = float on, match:class ^(kicad)$, match:title ^(3D Viewer)$
windowrule = float on, match:class ^(file-png)$

windowrule = float on, pin on, match:title ^(Picture-in-Picture)$

windowrule = no_anim on, match:title ^(wleave)$

windowrule = group set, match:class ^(virt-manager)$
windowrule = group set, match:class ^(kicad)$
windowrule = group barred, match:class ^(kitty)$

windowrule = border_size 0, match:class ^(org.gnome.FileRoller)$, match:title ^$, match:float 1
windowrule = border_size 0, match:initial_title ^(Sign in to Steam)$, match:float 1
windowrule = border_size 0, match:initial_title ^(SteamWebhelper)$, match:float 1

# old no_gaps_when_only
workspace = w[tv1], gapsout:0, gapsin:0
workspace = f[1], gapsout:0, gapsin:0
windowrule = border_size 0, rounding 0, match:float 0, match:workspace w[tv1]
windowrule = border_size 0, rounding 0, match:float 0, match:workspace f[1]

{{- if eq .chezmoi.hostname "ant" }}
workspace = 1, on-created-empty:[silent] firefox, monitor:DP-2, default:true
workspace = 2, on-created-empty:[silent] kitty, monitor:HDMI-A-1, default:true
workspace = 8, on-created-empty:[silent] slack, monitor:DP-2
workspace = 9, on-created-empty:[silent] thunderbird, monitor:HDMI-A-1
{{- end }}

# vim: ft=hyprlang
