[core]
    autocrlf = input
    excludeFile = {{ .chezmoi.homeDir }}/.config/git/ignore
    attributesfile = {{ .chezmoi.homeDir }}/.config/git/attributes
{{- if lookPath "delta" }}
    pager = delta
{{- end }}
[user]
    name = Mikołaj Rosowski
    email = {{ .email }}
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    c = commit
    s = status
    last = log -1 HEAD
[init]
    defaultBranch = main
[diff]
    algorithm = patience
    compactionHeuristic = true
    colorMoved = default
    submodule = log
{{- if lookPath "difft" }}
    tool = difftastic
{{- end }}

[advice]
    addIgnoredFile = false
[commit]
    verbose = true
[difftool]
    prompt = false
[help]
    autocorrect = 1
[merge]
    conflictStyle = zdiff3
    tool = nvimdiff
[interactive]
    diffFilter = delta --color-only --features=interactive
[pager]
    difftool = true
[rebase]
    missingCommitsCheck = warn
[rerere]
    enabled = 1
    autoupdate = true
[status]
    submoduleSummary = -1
[submodule]
    fetchJobs = 0

{{- if stat (joinPath .chezmoi.homeDir ".config/git/cookies") }}
[http]
    cookiefile = {{ .chezmoi.homeDir }}/.config/git/cookies
{{- end }}

[url "git@github.com:"]
    insteadOf = gh:
[github]
    user = rosowskimik
{{- if lookPath "gh" }}
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
{{- end }}

{{- if lookPath "git-lfs" }}
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- end }}

{{- if lookPath "delta" }}
[delta]
    features = side-by-side line-numbers decorations
    navigate = true
    light = false
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
{{- end }}

{{- if lookPath "difft" }}
[difftool "difftastic"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
{{- end }}

{{- if lookPath "mergiraf" }}
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P
{{- end }}

