[core]
    autocrlf = input
    pager = delta
    excludeFile = ~/.config/git/ignore
[user]
    name = Mikołaj Rosowski
    email = {{ .email }}
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    c = commit
    s = status
    last = log -1 HEAD
[help]
    autocorrect = 1
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = side-by-side line-numbers decorations
    navigate = true
    light = false
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[diff]
    algorithm = patience
    compactionHeuristic = true
    colorMoved = default
    submodule = log
[status]
    submoduleSummary = -1
[commit]
    verbose = true
[rebase]
    missingCommitsCheck = warn
[rerere]
    enabled = 1
    autoupdate = true
[submodule]
    fetchJobs = 0
[merge]
    conflictStyle = diff3
    tool = nvimdiff
[advice]
    addIgnoredFile = false
[init]
    defaultBranch = main
[url "git@github.com:"]
    insteadOf = gh:
[github]
    user = rosowskimik
{{- if lookPath "gh" }}
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
{{- end }}
{{- if lookPath "git-lfs" }}
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- end }}
