[core]
    autocrlf = input
    excludeFile = {{ joinPath .chezmoi.homeDir ".config/git/ignore" }}
    attributesfile = {{ joinPath .chezmoi.homeDir ".config/git/attributes" }}
[user]
    name = Mikołaj Rosowski
    email = {{ .email }}
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    c = commit
    s = status
    last = log -1 HEAD
    cleanall = clean -ffdx
[init]
    defaultBranch = main
[diff]
    algorithm = patience
    compactionHeuristic = true
    colorMoved = default
    submodule = log
[advice]
    addIgnoredFile = false
[commit]
    verbose = true
[difftool]
    prompt = false
[help]
    autocorrect = 1
[merge]
    conflictStyle = diff3
    tool = nvimdiff
[pager]
    difftool = true
[rebase]
    missingCommitsCheck = warn
[rerere]
    enabled = 1
    autoupdate = true
[status]
    submoduleSummary = -1
[submodule]
    fetchJobs = 0
[credential]
    helper = /usr/lib/git-core/git-credential-libsecret

{{- if stat (joinPath .chezmoi.homeDir ".config/git/cookies") }}
[http]
    cookiefile = {{ joinPath .chezmoi.homeDir ".config/git/cookies" }}
{{- end }}

[url "git@github.com:"]
    insteadOf = gh:
[github]
    user = rosowskimik
{{- if lookPath "gh" }}
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
{{- end }}

[include]
    path = {{ joinPath .chezmoi.homeDir ".config/git/mail.gitconfig" }}

{{- if lookPath "delta" }}
    path = {{ joinPath .chezmoi.homeDir ".config/git/delta.gitconfig" }}
{{- end }}

{{- if lookPath "git-lfs" }}
    path = {{ joinPath .chezmoi.homeDir ".config/git/lfs.gitconfig" }}
{{- end }}

{{- if lookPath "difft" }}
    path = {{ joinPath .chezmoi.homeDir ".config/git/difftastic.gitconfig" }}
{{- end }}

{{- if lookPath "mergiraf" }}
    path = {{ joinPath .chezmoi.homeDir ".config/git/mergiraf.gitconfig" }}
{{- end }}

; vim: filetype=gitconfig
