{
    "layer": "top",
    "modules-left": ["hyprland/workspaces", "hyprland/window"],
    "modules-center": ["clock"],
{{- if not .isDesktop }}
    "modules-right": ["cpu", "memory", "pulseaudio", "backlight", "battery", "tray"],
{{- else }}
    "modules-right": ["cpu", "memory", "pulseaudio", "tray"],
{{- end }}

    // Modules config
    // Left
    "hyprland/workspaces": { },
    "hyprland/window": {
        "rewrite": {
            "(.*) — Mozilla Firefox": "$1",
            "(.*) — Firefox Developer Edition": "$1"
        },
        "separate-outputs": true,
    },

    // Middle
    "clock": {
        "format": "{:%H:%M} ",
        "format-alt": "{:%A, %d %b %Y, %T} ",
        "tooltip-format": "<tt><small>{calendar}</small></tt>",
        "calendar": {
            "mode-mon-col"  : 3,
            "on-scroll"     : 1,
            "on-click-right": "mode",
            "format": {
                "months":     "<span color='#ffead3'><b>{}</b></span>",
                "days":       "<span color='#ecc6d9'><b>{}</b></span>",
                "weekdays":   "<span color='#ffcc66'><b>{}</b></span>",
                "today":      "<span color='#ff6699'><b><u>{}</u></b></span>"
            }
        },
        "smooth-scrolling-threshold": 1.0,
        "actions": {
            "on-click-right": "mode",
            "on-scroll-up": "shift_up",
            "on-scroll-down": "shift_down"
        }
    },

    // Right
    "cpu": {
        "interval": 5,
        "format": "{usage}% ",
        "format-alt": "{usage}%, {max_frequency} GHz ",
    },
    "memory": {
        "interval": 15,
        "format": "{percentage}% ",
        "format-alt": "{used}G/{total}G ",
        "tooltip-format": "Mem: {used}G/{total}G\nSwap: {swapUsed}G/{swapTotal}G"
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "0% \udb81\udf5f",
        "format-icons": {
            "default": ["", "", "", "", ""],
        },
        "on-click": "pavucontrol",
        "on-click-right": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    },
{{- if eq .chezmoi.hostname "ThinkPadArch" }}
    "backlight": {
        "interval": 1000,
        "format": "{percent}% {icon}",
        "format-icons": ["", "", "", "", "\udb81\udce0"],
    },
{{- end }}
{{- if not .isDesktop }}
    "battery": {
        "interval": 30,
        "full-at": 95,
        "states": {
            "warning": 20,
            "critical": 10,
        },
        "format": "{capacity}% {icon} ",
        "format-icons": ["", "", "", "", ""],
        "tooltip-format": "{timeTo}, {power}W",
    },
{{- end }}
    "tray": {
        "spacing": 7,
    },
}

// vim: ft=jsonc
