* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Ubuntu Nerd Font", sans-serif;
    font-size: 12px;
    border-radius: 2px;
}

window#waybar {
    background-color: #24273a;
    color: #cad3f5;
    border-bottom: 1px solid shade(#8aadf4, 0.4);
}

#workspaces {
    padding-right: 4px;
}

#workspaces button {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #6e738d;
    padding: 0 2px;
    color: #fff;
    transition: none;
}

#workspaces button:hover {
    background: #24273a;
}

#workspaces button:first-child {
    border-radius: 0 0 0 2px;
}

#workspaces button:last-child {
    border-radius: 0 0 2px 0;
}

#workspaces button:first-child:last-child {
    border-radius: 0 0 2px 2px;
}

#workspaces button.visible {
    border-color: shade(#6e738d, 1.35);
}

#workspaces button.active {
    /* background: #29394F; */
    background: shade(#363a4f, 1.35);
    box-shadow: inset 0 -1px shade(#6e738d, 1.35);
}

#workspaces button.urgent {
    background-color: #ed8796;
}

#workspaces {
    margin-right: 4px;
}

window#waybar.fullscreen {
    font-weight: 600;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray {
    margin-left: 2px;
    padding: 0 7px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#clock {
    border-color: #b8c0e0;
}

#cpu {
    border-color: #ed8796;
}

#memory {
    border-color: #c6a0f6;
}

#pulseaudio {
    border-color: #7dc4e4;
}

#backlight{
    border-color: #eed49f;
}

#battery {
    border-color: #a6da95;
}

#battery.charging, #battery.plugged {
    border-color: #40a02b;
}

#battery.warning:not(.charging) {
    /* border-color: #F4A261; */
    border-color: #f5a97f;
}

#battery.critical:not(.charging) {
    border-color: #f5a97f;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(2, start);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    border-color: #5b6078;
}

@keyframes blink {
    to {
        border-color: #ffffff;
    }
}
